body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(0, 225, 255),rgb(0, 119, 255),rgb(0, 110, 255),rgb(0, 41, 128),rgb(2, 2, 77));
}
.header_div{
    background: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 80px;
}
.header_div h2{
    margin-top: 0px;
}
.header_div img{
    width: 80px;
}
.main_div{
    background: rgb(80, 193, 228);
    padding: 15px;
    margin-top: 15px;
    border: black groove;
    border-radius: 10px;
    border-width: 5px;
}
#camera{
    border: 3px groove black;
    width: 310px;
    height: 300px;
    box-shadow: 7px 7px 10px rgb(2, 204, 255);
}
.footer_div{
    margin-bottom: 50px;
    background-color: chartreuse;
}
.footer_div h4 { 
    background: white;
    border-radius: 10px; 
    padding: 5px; 
    box-shadow: 5px 5px 18px white;
    font-size: 20px;
}
.footer_div img{
    width: 70px;
}
.copy_right_footer{
    position: fixed;
    color: gray;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    line-height: 3;
    text-align: center;
    border: black 3px groove;
    color: black;
}

